@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100svh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

nextjs-portal {
  display: none;
}

@media (max-width: 640px) {
  .hidden-on-small {
    display: none;
  }
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent; /* Firefox */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

@supports (-webkit-touch-callout: none) {
  html, body {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }

  [data-conversation-content] {
    -webkit-overflow-scrolling: touch;
  }
}
